<ion-view view-title="Completed Cases">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$ionicGoBack($event)" ng-show="hasHistory()">
        <em class="ion-chevron-left"></em>&nbsp;Back</button>
     </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-outline button-energized icon-right ion-log-out" ng-click="logout()">Logout&nbsp;</button>
  </ion-nav-buttons>
  <ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
    <div class="card" ng-repeat="item in complete.list.completed(true)">
      <div class="item item-text-wrap">
        <ul class="actions">
          <li class="ion-trash-b icon-actions" ng-click="complete.deleteItem('{{item.$id}}')"></li>
        </ul>
        <div>{{item.item}}</div>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap" ng-show="complete.list.completed(true).length === 0">
        <span>No items in your case list.</span>
      </div>
    </div>
  </ion-content>
</ion-view>
