<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.dogapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>dogapp</name>
  <description>A dog app.</description>
  <author email="brettfowle@gmail.com" href="http://bfowle.com">Brett Fowle</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
  </feature>
</widget>
